<h1 class="lead display-4 text-bold text-center">Audible</h1>

<% if current_user %>
  You are logged in and you are a [ <%= current_user.role %> ]
  <br>
  <% if current_user.admin? %>
    There are <%= User.count %> users registered.
  <% end %>
<% end %>