<h1>About Us</h1>
<p>CSC 517 Program 2.</p>
<p>This is an online bookshopping website developed using ruby on rails.</p>

<p class="lead">Developers: </p>
<hr>
<p class="text-muted"><b>Danda, Sai Venkata Varun:</b> sdanda</p>
<p class="text-muted"><b>Gudhe, Varun Deepak:</b> vgudhe</p>
<p class="text-muted"><b>Geddam, Saigirishwar Rohit:</b> sgeddam2</p>

