<p style="color: green"><%= notice %></p>

<h1>Transactions History</h1>

<div id="transactions">
  <table>

    <thead>
      <tr>
        <th>Transaction No.</th>
        <th> </th>
        <th>Book ID</th>
        <th> </th>
        <th>Quantity</th>
        <th> </th>
        <th>Total Price</th>
      </tr>

    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <%= render transaction %>

      <% end %>
    </tbody>

  </table>


</div>

